# Test

## 1.

In [4]:
import numpy as np
import math

In [8]:
def val(x):
    x_val = (x-1)*(x-3)**2*(x-5)**3
    y = math.sqrt(x_val)
    return y

In [11]:
val(10)

234.7871376374779

## 2.

In [20]:
def val_2(x, y):
    x_log = np.log10(x**y)
    
    if (x_log >= 5) & (x_log <= 10):
        print(True)
    else:
        print(False)

In [22]:
val_2(10, 6)

True

In [23]:
val_2(10, 3)

False

## 3.

In [34]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
def val_3(n, m):
    val_u = 1
    val_d = 1
    for i in range(m):
        val_u *= (n-i)
    val_u += 1
    for k in range(m):
        val_d *= (m-k)
    return val_u / val_d

In [45]:
val_3(4, 2)

6.5

## 4.

In [30]:
def val_4(x):
    for i in range(x+1):
        for k in range(i):
            print(i, end="")

In [31]:
val_4(5)

122333444455555